In [2]:
# Import dependencies
import pandas as pd
import requests
import gmaps
import os

# Import API Key
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame
cities_to_load = os.path.join("weather_data","cities.csv")
city_data_df = pd.read_csv(cities_to_load)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2022-03-23 21:15:39,-3.8004,102.2655,74.97,84,87,3.78
1,1,Karasjok,NO,2022-03-23 21:15:40,69.4719,25.5112,22.68,90,100,17.34
2,2,Jamestown,US,2022-03-23 21:15:40,42.0970,-79.2353,46.71,50,100,13.80
3,3,Khatanga,RU,2022-03-23 21:15:41,71.9667,102.5000,3.65,97,100,5.03
4,4,Nikolskoye,RU,2022-03-23 21:15:43,59.7035,30.7861,31.80,97,22,3.69

In [6]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Create Max Temp Heat map
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [15]:
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign teh figure variable
fig = gmaps.figure()

# Assign the Heat Map variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heat map alyer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign teh figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the Heat Map variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heat map alyer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Boyolangu,ID,2022-03-23 21:15:46,-8.1181,111.8935,75.63,91,100,1.14
14,14,Rikitea,PF,2022-03-23 21:15:48,-23.1203,-134.9692,80.20,69,47,15.26
15,15,Butaritari,KI,2022-03-23 21:15:48,3.0707,172.7902,80.08,82,62,15.66
17,17,Lorengau,PG,2022-03-23 21:15:49,-2.0226,147.2712,81.68,77,100,5.84
23,23,Owando,CG,2022-03-23 21:15:52,-0.4819,15.8999,75.88,64,3,2.01

In [25]:
# Any null values?
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [27]:
# If rows have null values, use dropna()

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
10         Boyolangu      ID     75.63  -8.1181  111.8935
14           Rikitea      PF     80.20 -23.1203 -134.9692
15        Butaritari      KI     80.08   3.0707  172.7902
17          Lorengau      PG     81.68  -2.0226  147.2712
23            Owando      CG     75.88  -0.4819   15.8999
24             Piojo      CO     84.76  10.7485  -75.1078
32             Kapaa      US     79.20  22.0752 -159.3190
34   Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
36  Puerto Escondido      MX     85.03  15.8500  -97.0667
37           Manggar      ID     80.26  -2.8833  108.2667

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
10         Boyolangu      ID     75.63  -8.1181  111.8935
14           Rikitea      PF     80.20 -23.1203 -134.9692
15        Butaritari      KI     80.08   3.0707  172.7902
17          Lorengau      PG     81.68  -2.0226  147.2712
23            Owando      CG     75.88  -0.4819   15.8999
24             Piojo      CO     84.76  10.7485  -75.1078
32             Kapaa      US     79.20  22.0752 -159.3190
34   Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
36  Puerto Escondido      MX     85.03  15.8500  -97.0667
37           Manggar      ID     80.26  -2.8833  108.2667

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Boyolangu,ID,75.63,-8.1181,111.8935,Yos ega cv
14,Rikitea,PF,80.20,-23.1203,-134.9692,People ThankYou
15,Butaritari,KI,80.08,3.0707,172.7902,Isles Sunset Lodge
17,Lorengau,PG,81.68,-2.0226,147.2712,Lorengau Harbourside Hotel
23,Owando,CG,75.88,-0.4819,15.8999,Exaunel Hotel Owando
24,Piojo,CO,84.76,10.7485,-75.1078,Reserva Natural Los Charcones - Lomita el paso...
32,Kapaa,US,79.20,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
36,Puerto Escondido,MX,85.03,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
37,Manggar,ID,80.26,-2.8833,108.2667,Guest Hotel

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))